<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.moxiuwen.meetingnotes</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/moxiuwen/MeetingNotes/watch_inbox.sh</string>
  </array>
  <key>WatchPaths</key>
  <array>
    <string>/Users/moxiuwen/MeetingNotes/inbox</string>
  </array>
  <key>RunAtLoad</key>
  <false/>
  <key>StandardOutPath</key>
  <string>/Users/moxiuwen/MeetingNotes/logs/launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/moxiuwen/MeetingNotes/logs/launchd.err.log</string>
</dict>
</plist>
